<div class="nav-links">
  <a href="/index.html">Inicio</a>
  <a href="/sections/santa-clara.html">Santa Clara</a>
  <a href="/sections/hermanas-pobres.html">Hermanas Pobres</a>
  <a href="/sections/vocacion.html">Vocación Clarisa</a>
  <a href="/sections/en-elche.html">En Elche</a>
  <a href="/sections/oraciones.html">Oraciones</a>
  <a href="/sections/tercera-orden.html">Tercera Orden</a>
  <a href="/sections/colabora.html">Colabora</a>
  <a href="/sections/contacto.html">Contacto</a>
</div>