---
layout: layouts/base.njk
title: Santa clara
---

<section>
    <div class="row">
      <div class="column">
        <h2>Orígenes y vocación</h2>
        <p><strong>Santa Clara de Asís</strong> nació en 1193 en una familia noble. Desde joven mostró un corazón orientado hacia Dios. El encuentro con <strong>San Francisco</strong> marcó profundamente su camino espiritual.</p>
        <p>La noche del Domingo de Ramos de 1212, Clara abandonó su hogar y consagró su vida al Señor. Francisco le impuso el hábito y la acogió en la Porciúncula. Así nació la Orden de las Hermanas Pobres.</p>
        <img src="/imagenes/santa-clara-icono.jpg" alt="Icono de Santa Clara" />
<p></p>
      </div>
      <div class="column">
        <h2>Vida interior y legado</h2>
        <p>Desde San Damián, Clara vivió en radical pobreza, oración y contemplación. Su vida estuvo marcada por una profunda <strong>relación con Jesucristo</strong> y una inmensa devoción al <strong>Santísimo Sacramento</strong>.</p>
        <p>En su enfermedad, Clara vivió experiencias místicas. Se le atribuye la visión de la misa desde su lecho, motivo por el cual fue nombrada <em>patrona de la televisión</em>.</p>
        <img src="/imagenes/santa-clara-lirios.jpg" alt="Santa Clara entre lirios" />
        <p>Clara escribió la primera regla femenina aprobada por la Iglesia. Murió en 1253. Su cuerpo se conserva en Asís, donde es venerada con profunda devoción.</p>
        <img src="/imagenes/santa-clara-relicario.jpeg" alt="Cuerpo de Santa Clara en Asís" />
      </div>
    </div>
  </section>
